* {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a, a:hover, a:active {
    text-decoration: none;
}
.applyBtn {
    background-color: #86BBD8;
    border-color: #86BBD8;
    font-size: .8rem;
    line-height: 2rem;
    align-content: center;
    text-align: center;
    text-decoration: none;
    margin: .5rem;
    display: flex;
    align-items: center;
    letter-spacing: .05rem;
    color: #FFFFFF;
    width: 12rem;
    height: 2rem;
    transition: 1s ease;
}

.applyBtn:hover {
    text-decoration: underline;
}

.card-title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 3em;
    display: flex;
    align-items: center;
    letter-spacing: .1rem;
    text-decoration: underline;
    color: #36393B;
}

.react-custom-scrollbars-fix::-webkit-scrollbar {
    width: .3rem;
  }

/*called by JobsPortal.js*/
.navbarContainer {
    margin: 0 auto;
    padding: 1em;
    height: 10vh;
}

 .nav-tabs .nav-link.active {
    color: white;
    background-color: #979797;
    border-color: none;
}

.nav-tabs .nav-link, .nav-tabs .nav-link::after{
    border-color: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.8rem;
    letter-spacing: 0.1rem;
    transition: 1s ease;
}

.nav-tabs .nav-link:hover{
    color:#540D6E;
    background-color: white;
    
}

.jobCard {
    background-color: none;
    align-content:center;
    justify-items: center;
    margin: .3rem;
    padding: .3rem;
    transition: 1s ease;
}
.jobCard:hover{
    background-color:#86BBD8;
}

#sort-btn{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1px;
    color: #540D6E;

    border-color: #bcd6e4;
    border-width: .1em;
    background-color: aliceblue;
}

#titleText{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1em;
    margin-top: .5rem;
    display: flex;
    align-items: center;
    letter-spacing: .1rem;
    color: #36393B;
    text-decoration: underline;
}

.subtitleText{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1em;
    align-items: center;
    letter-spacing: .1rem;
    color: #979797;
    }

#subtitle2Text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: .8rem;
    line-height: 1rem;
    letter-spacing: 0.05rem;
    color: #979797;
}

.jobResultsRow{
    height: 10vh;
}

#jobColTitle{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 0.05rem;
    color: #540D6E;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.card-text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: .7rem;
    line-height: 1em;
    display: flex;
    align-items: flex-end;
    letter-spacing: .1rem;
    color: #979797;
}


.jobColOne {
    align-items:center;
    height: 100vh;
    overflow: auto;
    justify-content: stretch;
    align-content: center;
    justify-items: center;
    /* background-color: green; */
    box-shadow: 0rem .5rem 1rem rgba(0, 0, 0, 0.1);
    border: .1rem solid grey;
}

.jobColTwo {
    height:100vh;
    border: .1rem solid grey;
    overflow: auto;
}

.searchButtons {
    color:grey;
    align-content: center;
    justify-content: center;
    background-color: transparent;
    padding: 0%;
    margin: 0;
    border-color: transparent;
}
.searchButtons:hover{
    color: #540D6E;
    background-color: transparent;
}

.searchButtons:active {
    color: #540D6E;
    background-color: transparent;
}


/*called by JobTable*/
.jobDescription {
    white-space: pre-wrap;
    text-overflow:hidden;
    overflow: scroll;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: .8rem;
    line-height: 1rem;
    letter-spacing: .05rem;
    color: #646768;
}

/*code for styling function NavBar() from DashBoardNav.js.
  represents 4 links in left side column of page: "Dashboard","Jobs","To Do List","Analytics"*/

.jobNavbar {
    height: 50vh;
    justify-content: space-evenly;
}

/*START*/
.jobNavbar a:link, a:visited{
    position: sticky;
    height: 100%;
    padding-top: .6rem;
    padding-bottom: .6rem;

    background: #FFFFFF;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 2rem;
    text-decoration: none;
    /* identical to box height */
    letter-spacing: 0.1rem;
    text-align: center;
    color: #9F9F9F;
    }
      
.jobNavbar a:hover, a:active {
    background: #86BBD8;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
    border-radius: .8rem 0rem 0rem .8rem;
    color: #FFFFFF;
    text-decoration: none;
    transition: 1s ease;
}
/*END*/

.jobSearch {
    justify-content: right;
    align-items: right;
    align-content: right;
}

.JobTable .col{
    padding: 1em;
    height: 10vh;
    box-shadow: -5px 0px 10px grey;

}

.trackBtn {
    color:grey;
    align-content: left;
    justify-content: left;
    padding: 0rem, 50px, 0rem, 0rem;
    margin: 0, 50px, 0, 0;
    border: none;
    background-color: transparent;
}

.trackBtn:hover{
    color:purple;
    background-color: transparent;
    transition: 1s ease;
    
}

.trackBtn:hover::after {
    content: 'Save?';
    font-size:1rem;
}

.trackBtn:active{
    color:#86BBD8;
    background-color: transparent;
    box-shadow: 0 .1rem #86BBD8;
    transition: .2s;
}
.trackBtn:active::after {
    color: #86BBD8;
    content: 'Ok!';
    font-size:1rem;
}
.profileIcon {
    margin-top: 3rem;
}

.icon {
    color: grey;
    transition: .5s ease;
}

.icon:hover {
    color: #86BBD8;
}