.userPortal {
    width: 100%;
    margin-top: 3rem;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    display: flex;
    justify-content: left;
}

.headshot {
    width: 16vw;
    align-items: center;
    margin: .5rem;
    padding: 0;
    border-radius: 10rem;
}

.columnOne {
    padding: 0;
}

.columnTwo {
    padding: 0;
}

.profileButton {
    background-color: #540D6E;
    border: .1rem solid #540D6E;
    border-radius: .5rem;
    margin: .3rem;
    width: 8vw;
}

.profileButton:hover {
    color:#540D6E;
    background-color: white;
    border: .1rem solid #540D6E;
    transition: .5s ease;
}