* {
    font-family: Montserrat;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.todoCard {
    margin-right: 1rem;
    padding: 1rem;
    width: 100%
}

.todoCard.complete {
    margin-right: 1rem;
    padding: 1rem;
    width: 100%
}

.todoBox1{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    /* identical to box height */

    letter-spacing: 0.1rem;

    color: #9F9F9F;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.todoBox2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    /* identical to box height */

    letter-spacing: 0.1rem;
    border-left: 1rem solid #9F9F9F;
    color: #9F9F9F;
}

.todoTitle{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.5rem;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.1rem;
    color: #540D6E;
    background-color: transparent;
    text-decoration: #540D6E underline;
}

.jobFormInput{
    width: 50vw;
}

.jobFormButton{
    width: 10vw;
}

.todoCol1{
    margin: 1rem;
    background-color:transparent;
    padding: 1rem;
}

.todoCol2{
    background-color: transparent;
    margin: 1rem;
    padding: 1rem;
}

.todoListView {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

.displayTodo {
    border-left: #9F9F9F;
    border-width: 1rem;
}

.todoButtons {
    background-color: #540D6E;
    border: .1rem solid #540D6E;
    border-radius: .5rem;
    margin: .3rem;
    width: 8vw;
}

.todoButtons:hover {
    color:#540D6E;
    background-color: white;
    border: .1rem solid #540D6E;
    transition: .5s ease;
}

.todoListText {
    font-size: 1rem;
    text-align: center;
    padding: .3rem;
}

.todoLabel {
    font-size: 1.2rem;
    text-decoration: #9F9F9F underline;
    color: #9F9F9F;
    text-align: center;
}

.todoList {
    place-items: left;
    padding: 0;
}

.displayTodoTitle {
    color: #540D6E;
    text-decoration: #540D6E underline;
}