* {
    font-family: Montserrat;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.displayTodo {
    border-left: #9F9F9F;
    border-width: 1rem;
}

.displayTodoTitle {
    color: #540D6E;
    text-decoration: #540D6E underline;
}

.jobFormInput{
    width: 50vw;
}

.jobFormButton{
    width: 10vw;
}

.todoBox1{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    /* identical to box height */

    letter-spacing: 0.1rem;
    border-bottom: .1rem solid grey;
    color: #9F9F9F;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.todoBox2{
    font-size: 1rem;
    line-height: 1.5rem;
    /* identical to box height */
    letter-spacing: 0.1rem;
    border: .1rem solid #9F9F9F;
    color: #9F9F9F;
}

.todoButtons {
    background-color: #540D6E;
    border: .1rem solid #540D6E;
    border-radius: .5rem;
    margin: .3rem;
    width: 8vw;
    box-shadow: none;
    color: white;
    height: 5vh;
}

.todoButtons:hover {
    color:#540D6E;
    background-color: white;
    border: .1rem solid #540D6E;
    transition: .5s ease;
}

.todoButtons:active {
    color:#540D6E;
    background-color: white;
    border: .1rem solid #540D6E;
    transform: translateY(.5rem);
    transition: .2s ease;
}

.todoCard {
    margin-right: 1rem;
    padding: 1rem;
    width: 100%
}

.todoCard.complete {
    margin-right: 1rem;
    padding: 1rem;
    width: 100%;
}

.todoContainer {
    margin-right: 1rem;
    padding: 1rem;
    width: 100%;
    transition: .5s ease;
}

.todoContainer:hover {
    background-color: #86BBD8;
}

.todoContainer.selected {
    background-color: #00ffff;
    border: .1rem solid grey;
}

.todoCol1{
    margin: 1rem;
    background-color:transparent;
    padding: 1rem;
}

.todoCol2{
    background-color: transparent;
    margin: 1rem;
    padding: 1rem;
}

.todoLabel {
    font-size: 1.2rem;
    text-decoration: #d90000 underline;
    color: #d90000;
    text-align: center;
}


.todoLabel.complete {
    text-decoration: #75b204 line-through;
    color: #75b204;
}

.todoListText {
    font-size: 1rem;
    text-align: center;
    padding: .3rem;
    color: #d90000;
}

.todoListText.complete{
    color: #75b204;
}

.todoTitle{
    font-size: 2rem;
    line-height: 1.5rem;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.1rem;
    color: #540D6E;
    background-color: transparent;
    text-decoration: #540D6E underline;
}

.todoListView {
    border-left: .1rem solid grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

@keyframes selectBorder {
    0% {background-color:#540d6e;}
    25% {background-color: #d90000;}
    50% {background-color: #75b204;}
    75% {background-color: #ffae00;}
}